QLabel#main-heading {
    font-size: 20pt;
    font-weight: 800;
}

QLabel {
    font-weight: 700;
}

QWidget {
    background-color: #212121;
    color: #ffffff;
}
                
QLineEdit {
    background-color: #ffffff;       
    color: #212121;   
}

QLineEdit#unique-track-percentage-slider-value {
    float: left;
    margin: 0;
}

QLineEdit {
    background-color: #ffffff;       
    color: #212121;   
}

QSlider {
    margin: 10px;
    color: #212121;
}        

QPushButton {
    background-color: #1fde64;
    color: black;
    font-weight: 800;
    border-width: 2px;
    border-radius: 6px;
    padding: 4px;
    border-color: #1fde64;
}